/* ======================================== */
/* =============== Sobre mí =============== */
/* ======================================== */

// About small

.about__content {
  background-color: $tertiary;
}

.about-wrapper {
  // height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  background-color: $tertiary;
}
.about-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-position: top left;
}

.about__legend {
  font-size: 1.27rem;
  color: $secondary;
  margin: 20px;
  text-align: justify;
  a {
    text-decoration: none;
  }
}

.about-right {
  background-image: url("../../assets/images/piano.jpeg");
  background-size: cover;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about-wrapper {
    flex-direction: row;
  }
  .about-left {
    height: 500px;
    padding: 0 50px;
  }
  .about-right {
    background-image: url("../../assets/images/piano.jpeg");
    background-size: cover;
    height: calc(100vh - 110px);
  }
}
