.button__menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button__menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }
  
  .button__menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .button__menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button__menu.close span:nth-child(3){
    display: none;
  }

  @media screen and (min-width:768px) {
    .button__menu{
      display: none;
    }
  }