// Settings
@import "./base/base";
@import "./base/settings";

// Components
@import "./components/header";
@import "./components/menu";
@import "./components/home";
@import "./components/footer";
@import "./components/contact";
@import "./components/portfolio";
@import "./components/about";
@import "./components/contactForm";
