// Colors
$primary: #f9f9f9;
$secondary: #454545;
$tertiary: #e5e5e5;
$quaternary: #cccccc;
$light_grey: #808080;
$dark_grey: #363636;

//Basic colors
$white: #fff;
$blue: blue;
$black: #000;
$silver: #8a9597;
